USE [HolaLearn]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[fullname] [nvarchar](max) NULL,
	[email] [nvarchar](50) NULL,
	[dob] [date] NULL,
	[phone] [nvarchar](20) NULL,
	[avatar] [varbinary](max) NULL,
	[otp] [nvarchar](50) NULL,
	[active] [int] NULL,
	[role_id] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[content] [ntext] NULL,
	[description] [ntext] NULL,
	[image] [varbinary](max) NULL,
	[link] [nvarchar](max) NULL,
	[created_date] [date] NULL,
	[status] [int] NULL,
	[marketer_id] [int] NULL,
	[tag] [nvarchar](50) NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[chapter_id] [int] IDENTITY(1,1) NOT NULL,
	[chapter_no] [int] NULL,
	[chapter_name] [nvarchar](50) NULL,
	[course_id] [int] NULL,
 CONSTRAINT [PK_Chapter] PRIMARY KEY CLUSTERED 
(
	[chapter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment_Lesson]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment_Lesson](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[lesson_id] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[comment_date] [date] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Comment_Lesson] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_name] [nvarchar](250) NULL,
	[image] [varbinary](max) NULL,
	[subject_id] [int] NULL,
	[course_no] [int] NULL,
	[description] [ntext] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [nvarchar](250) NULL,
	[name] [nvarchar](250) NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Learner_Chapter]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Learner_Chapter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[learner_id] [int] NULL,
	[chapter_id] [int] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Learner_Chapter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Learner_Course]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Learner_Course](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[learner_id] [int] NULL,
	[course_id] [int] NULL,
	[status] [int] NULL,
	[rate] [float] NULL,
 CONSTRAINT [PK_Learner_Course] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Learner_Lesson]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Learner_Lesson](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[learner_id] [int] NULL,
	[lesson_id] [int] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Learner_Lesson] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Learner_Subject]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Learner_Subject](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[learner_id] [int] NULL,
	[subject_id] [int] NULL,
	[enrolled_date] [date] NULL,
	[end_date] [date] NULL,
	[active] [bit] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Learner_Subject] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[lesson_id] [int] IDENTITY(1,1) NOT NULL,
	[lesson_no] [int] NULL,
	[lesson_name] [nvarchar](max) NULL,
	[video] [nvarchar](max) NULL,
	[document] [ntext] NULL,
	[chapter_id] [int] NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Lesson] PRIMARY KEY CLUSTERED 
(
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[order_date] [date] NULL,
	[total_money] [float] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[subject_id] [int] NULL,
	[price] [float] NULL,
 CONSTRAINT [PK_Order_Detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[content] [ntext] NULL,
	[option1] [ntext] NULL,
	[option2] [ntext] NULL,
	[option3] [ntext] NULL,
	[option4] [ntext] NULL,
	[answer] [int] NULL,
	[subject_id] [int] NULL,
	[quiz_id] [int] NULL,
	[level] [int] NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[quiz_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[chapter_id] [int] NULL,
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[quiz_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz_Result]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz_Result](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[learner_id] [int] NULL,
	[quiz_id] [int] NULL,
	[mark] [float] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Quiz_Result] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Feature]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Feature](
	[role_id] [int] NOT NULL,
	[feature_id] [int] NOT NULL,
 CONSTRAINT [PK_Role_Feature] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[feature_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [varbinary](max) NULL,
	[title] [nvarchar](max) NULL,
	[status] [int] NULL,
	[link] [nvarchar](50) NULL,
	[marketer_id] [int] NULL,
 CONSTRAINT [PK_Slider] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 1/30/2024 9:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[subject_id] [int] IDENTITY(1,1) NOT NULL,
	[subject_name] [nvarchar](100) NULL,
	[description] [ntext] NULL,
	[image] [varbinary](max) NULL,
	[created_date] [date] NULL,
	[updated_date] [date] NULL,
	[price] [float] NULL,
	[discount] [float] NULL,
	[sold] [int] NULL,
	[category_id] [int] NULL,
	[lecturer_id] [int] NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (1, N'Information Technology')
INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (2, N'Economic')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Chapter] ON 

INSERT [dbo].[Chapter] ([chapter_id], [chapter_no], [chapter_name], [course_id]) VALUES (1, 1, N'Fundamentals of Big Data', 1)
INSERT [dbo].[Chapter] ([chapter_id], [chapter_no], [chapter_name], [course_id]) VALUES (2, 2, N'Big Data Architectures', 1)
INSERT [dbo].[Chapter] ([chapter_id], [chapter_no], [chapter_name], [course_id]) VALUES (3, 3, N'Big Data Processing', 1)
SET IDENTITY_INSERT [dbo].[Chapter] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment_Lesson] ON 

INSERT [dbo].[Comment_Lesson] ([comment_id], [account_id], [lesson_id], [comment], [comment_date], [status]) VALUES (1, 2, 1, N'Hello', CAST(N'2023-10-08' AS Date), 1)
INSERT [dbo].[Comment_Lesson] ([comment_id], [account_id], [lesson_id], [comment], [comment_date], [status]) VALUES (4, 2, 1, N'Hi', CAST(N'2023-10-08' AS Date), 1)
INSERT [dbo].[Comment_Lesson] ([comment_id], [account_id], [lesson_id], [comment], [comment_date], [status]) VALUES (6, 2, 1, N'Lesson is so good', CAST(N'2023-10-08' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Comment_Lesson] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Feature] ON 

INSERT [dbo].[Feature] ([id], [url], [name]) VALUES (1, N'/manageaccount', NULL)
INSERT [dbo].[Feature] ([id], [url], [name]) VALUES (2, N'/lecturersubject', NULL)
SET IDENTITY_INSERT [dbo].[Feature] OFF
GO
SET IDENTITY_INSERT [dbo].[Learner_Chapter] ON 

INSERT [dbo].[Learner_Chapter] ([id], [learner_id], [chapter_id], [status]) VALUES (1, 2, 1, 1)
INSERT [dbo].[Learner_Chapter] ([id], [learner_id], [chapter_id], [status]) VALUES (5, 2, 2, 1)
INSERT [dbo].[Learner_Chapter] ([id], [learner_id], [chapter_id], [status]) VALUES (9, 2, 3, 1)
SET IDENTITY_INSERT [dbo].[Learner_Chapter] OFF
GO
SET IDENTITY_INSERT [dbo].[Learner_Course] ON 

INSERT [dbo].[Learner_Course] ([id], [learner_id], [course_id], [status], [rate]) VALUES (1, 2, 1, 1, 1)
INSERT [dbo].[Learner_Course] ([id], [learner_id], [course_id], [status], [rate]) VALUES (5, 2, 2, 1, 5)
INSERT [dbo].[Learner_Course] ([id], [learner_id], [course_id], [status], [rate]) VALUES (9, 2, 3, 1, 5)
SET IDENTITY_INSERT [dbo].[Learner_Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Learner_Lesson] ON 

INSERT [dbo].[Learner_Lesson] ([id], [learner_id], [lesson_id], [status]) VALUES (1, 2, 1, 1)
INSERT [dbo].[Learner_Lesson] ([id], [learner_id], [lesson_id], [status]) VALUES (2, 2, 2, 1)
INSERT [dbo].[Learner_Lesson] ([id], [learner_id], [lesson_id], [status]) VALUES (3, 2, 3, 1)
SET IDENTITY_INSERT [dbo].[Learner_Lesson] OFF
GO
SET IDENTITY_INSERT [dbo].[Learner_Subject] ON 

INSERT [dbo].[Learner_Subject] ([id], [learner_id], [subject_id], [enrolled_date], [end_date], [active], [status]) VALUES (1, 2, 1, CAST(N'2023-10-04' AS Date), CAST(N'2024-10-04' AS Date), 1, 0)
SET IDENTITY_INSERT [dbo].[Learner_Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[Lesson] ON 

INSERT [dbo].[Lesson] ([lesson_id], [lesson_no], [lesson_name], [video], [document], [chapter_id], [description]) VALUES (1, 1, N'Defining Big Data', N'https://www.youtube.com/embed/oTw8AECmUNA?si=iy9GtL81874ORmWP', N'lesson1.pdf', 1, NULL)
INSERT [dbo].[Lesson] ([lesson_id], [lesson_no], [lesson_name], [video], [document], [chapter_id], [description]) VALUES (2, 2, N'What is Big Data?', N'https://www.youtube.com/embed/oTw8AECmUNA?si=iy9GtL81874ORmWP', N'lesson1.pdf', 1, NULL)
INSERT [dbo].[Lesson] ([lesson_id], [lesson_no], [lesson_name], [video], [document], [chapter_id], [description]) VALUES (3, 3, N'Characteristics of Big Data', N'https://www.youtube.com/embed/oTw8AECmUNA?si=iy9GtL81874ORmWP', N'lesson1.pdf', 1, NULL)
SET IDENTITY_INSERT [dbo].[Lesson] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([question_id], [content], [option1], [option2], [option3], [option4], [answer], [subject_id], [quiz_id], [level]) VALUES (3, N'Which of the following is an example of structured data?', N'Social media posts', N'Emails', N'Sensor data from a machine', N'Images', 3, 1, 1, 1)
INSERT [dbo].[Question] ([question_id], [content], [option1], [option2], [option3], [option4], [answer], [subject_id], [quiz_id], [level]) VALUES (4, N'What is the difference between data mining and machine learning?', N'Data mining is used to find patterns in data, while machine learning is used to make predictions based on data', N'Data mining is used to make predictions based on data, while machine learning is used to find patterns in data', N'Data mining and machine learning are the same thing', N'Data mining and machine learning are not related to big data', 4, 1, 1, 1)
INSERT [dbo].[Question] ([question_id], [content], [option1], [option2], [option3], [option4], [answer], [subject_id], [quiz_id], [level]) VALUES (5, N'What is Hadoop?', N'A programming language used for big data analytics', N'A database management system for big data', N'A distributed computing framework for processing large', N'A data visualization tool for big data', 3, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Quiz] ON 

INSERT [dbo].[Quiz] ([quiz_id], [name], [chapter_id]) VALUES (1, NULL, 1)
INSERT [dbo].[Quiz] ([quiz_id], [name], [chapter_id]) VALUES (2, NULL, 2)
INSERT [dbo].[Quiz] ([quiz_id], [name], [chapter_id]) VALUES (3, NULL, 3)
SET IDENTITY_INSERT [dbo].[Quiz] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'learner')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (3, N'lecturer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[Role_Feature] ([role_id], [feature_id]) VALUES (1, 1)
INSERT [dbo].[Role_Feature] ([role_id], [feature_id]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Account] FOREIGN KEY([marketer_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Account]
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD  CONSTRAINT [FK_Chapter_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chapter] CHECK CONSTRAINT [FK_Chapter_Course]
GO
ALTER TABLE [dbo].[Comment_Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Lesson_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Comment_Lesson] CHECK CONSTRAINT [FK_Comment_Lesson_Account]
GO
ALTER TABLE [dbo].[Comment_Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Lesson_Lesson] FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lesson] ([lesson_id])
GO
ALTER TABLE [dbo].[Comment_Lesson] CHECK CONSTRAINT [FK_Comment_Lesson_Lesson]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Subject] FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subject] ([subject_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Subject]
GO
ALTER TABLE [dbo].[Learner_Chapter]  WITH CHECK ADD  CONSTRAINT [FK_Learner_Chapter_Account] FOREIGN KEY([learner_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Learner_Chapter] CHECK CONSTRAINT [FK_Learner_Chapter_Account]
GO
ALTER TABLE [dbo].[Learner_Chapter]  WITH CHECK ADD  CONSTRAINT [FK_Learner_Chapter_Chapter] FOREIGN KEY([chapter_id])
REFERENCES [dbo].[Chapter] ([chapter_id])
GO
ALTER TABLE [dbo].[Learner_Chapter] CHECK CONSTRAINT [FK_Learner_Chapter_Chapter]
GO
ALTER TABLE [dbo].[Learner_Course]  WITH CHECK ADD  CONSTRAINT [FK_Learner_Course_Account] FOREIGN KEY([learner_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Learner_Course] CHECK CONSTRAINT [FK_Learner_Course_Account]
GO
ALTER TABLE [dbo].[Learner_Course]  WITH CHECK ADD  CONSTRAINT [FK_Learner_Course_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Learner_Course] CHECK CONSTRAINT [FK_Learner_Course_Course]
GO
ALTER TABLE [dbo].[Learner_Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Learner_Lesson_Account] FOREIGN KEY([learner_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Learner_Lesson] CHECK CONSTRAINT [FK_Learner_Lesson_Account]
GO
ALTER TABLE [dbo].[Learner_Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Learner_Lesson_Lesson] FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lesson] ([lesson_id])
GO
ALTER TABLE [dbo].[Learner_Lesson] CHECK CONSTRAINT [FK_Learner_Lesson_Lesson]
GO
ALTER TABLE [dbo].[Learner_Subject]  WITH CHECK ADD  CONSTRAINT [FK_Learner_Subject_Account] FOREIGN KEY([learner_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Learner_Subject] CHECK CONSTRAINT [FK_Learner_Subject_Account]
GO
ALTER TABLE [dbo].[Learner_Subject]  WITH CHECK ADD  CONSTRAINT [FK_Learner_Subject_Subject] FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subject] ([subject_id])
GO
ALTER TABLE [dbo].[Learner_Subject] CHECK CONSTRAINT [FK_Learner_Subject_Subject]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Chapter] FOREIGN KEY([chapter_id])
REFERENCES [dbo].[Chapter] ([chapter_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_Lesson_Chapter]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Order_Detail_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_Order_Detail_Order]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Quiz] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[Quiz] ([quiz_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Quiz]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Chapter] FOREIGN KEY([chapter_id])
REFERENCES [dbo].[Chapter] ([chapter_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK_Quiz_Chapter]
GO
ALTER TABLE [dbo].[Quiz_Result]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Result_Account] FOREIGN KEY([learner_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Quiz_Result] CHECK CONSTRAINT [FK_Quiz_Result_Account]
GO
ALTER TABLE [dbo].[Quiz_Result]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Result_Quiz] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[Quiz] ([quiz_id])
GO
ALTER TABLE [dbo].[Quiz_Result] CHECK CONSTRAINT [FK_Quiz_Result_Quiz]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Feature] FOREIGN KEY([feature_id])
REFERENCES [dbo].[Feature] ([id])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Feature]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Role]
GO
ALTER TABLE [dbo].[Slider]  WITH CHECK ADD  CONSTRAINT [FK_Slider_Account] FOREIGN KEY([marketer_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Slider] CHECK CONSTRAINT [FK_Slider_Account]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Account] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Account]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Category]
GO
